In [1]:
import pandas as pd
import geopandas as gpd

In [9]:
panel_rent_per_sf_per_neighborhood = pd.read_csv('../data/panel_rent_per_sf_per_neighborhood.csv', index_col=0)

In [5]:
panel = gpd.read_feather('../data/panel_data_estimated_costs.geofeather')

In [10]:
panel_rent_per_sf_per_neighborhood.columns

Index(['assessor_neighborhood', 'closed_roll_year', 'home_size1', 'rent',
       'rent/sf'],
      dtype='object')

In [12]:
panel_df = pd.merge(panel, panel_rent_per_sf_per_neighborhood)

In [28]:
panel_df.sample(10)[['home_size1', 'year', 'rent/sf', 'assessor_neighborhood']]

         home_size1    year     rent/sf assessor_neighborhood
359508       1200.0  2011.0  461.000000             Excelsior
805404       1205.0  2008.0  565.000000         Inner Mission
1038485      1214.0  2010.0  554.000000          Outer Sunset
108356       1202.0  2015.0  757.923077           Yerba Buena
596031       1725.0  2013.0  210.000000   Lake --The Presidio
1217993      1441.5  2016.0  772.000000              Parkside
1141660      1250.0  2010.0  747.000000             Glen Park
344592       1300.0  2011.0  418.000000               Portola
1011946      1150.0  2007.0  607.000000             Oceanview
1316382      1916.5  2009.0  691.000000     Ingleside Terrace

In [45]:
fires = gpd.read_feather('../data/clean_accidental_fires.geofeather')

In [46]:
fires

,geometry,number_of_floors_with_significant_damage,number_of_floors_with_heavy_damage,number_of_floors_with_extreme_damage,address,property_use,estimated_contents_loss,estimated_property_loss,alarm_dttm,incident_date,number_of_floors_with_minimum_damage,number_of_alarms,civilian_injuries,year
4648,POINT (-122.40784 37.74847),0.0,0.0,0.0,684 Precita Av.,419 - 1 or 2 family dwelling,1000.0,10000.0,2003-02-05 21:25:27,2003-02-05,1.0,1.0,0.0,2003
12951,POINT (-122.41986 37.78805),0.0,0.0,0.0,1224 Polk St.,113 - Electronic amusement center,5000.0,10000.0,2003-05-16 02:07:11,2003-05-16,1.0,1.0,0.0,2003
14647,POINT (-122.46159 37.71202),0.0,0.0,2.0,269 Sadowa St.,419 - 1 or 2 family dwelling,50000.0,250000.0,2003-06-19 15:31:19,2003-06-19,0.0,1.0,1.0,2003
17398,POINT (-122.41932 37.78664),0.0,0.0,0.0,1301 Turk St.,632 - Flight control tower,1.0,1.0,2003-07-08 06:58:18,2003-07-08,1.0,1.0,0.0,2003
19840,POINT (-122.41852 37.78598),0.0,1.0,0.0,925 Geary St.,"439 - Boarding/rooming house, res. hotels",15000.0,40000.0,2003-08-04 13:41:48,2003-08-04,0.0,1.0,0.0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632627,POINT (-122.40351 37.78027),NaN,NaN,NaN,900 FOLSOM STREET,429 Multifamily dwelling,0.0,2000.0,2023-06-01 23:40:55,2023-06-01,NaN,1.0,0.0,2023
632742,POINT (-122.41143 37.78609),NaN,NaN,NaN,405 TAYLOR STREET,"449 Hotel/motel, commercial",2500.0,15000.0,2023-06-04 12:17:46,2023-06-04,NaN,1.0,0.0,2023
633227,POINT (-122.43381 37.77161),NaN,NaN,NaN,701 HAIGHT STREET,162 Bar or nightclub,5000.0,10000.0,2023-07-16 04:30:40,2023-07-16,NaN,1.0,0.0,2023
633647,POINT (-122.41923 37.78813),NaN,NaN,NaN,1144 SUTTER STREET,511 Convenience store,60.0,3000.0,2023-07-09 23:16:06,2023-07-09,NaN,1.0,0.0,2023
633904,POINT (-122.45848 37.78049),NaN,NaN,NaN,540 ARGUELLO BL,"0 Property Use, other",0.0,10000.0,2023-07-02 01:48:07,2023-07-02,NaN,1.0,0.0,2023